html {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

body{
  padding: 30px;
}

section {
 padding: 10px;
}

h1 {
    font-size: 3em;
    color:#007d7b;
    background-color: white;
    width:auto;
    text-transform: uppercase;
}

h2 {
  text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

#images h2 {
  visibility: hidden;
}

h3 {
  visibility: hidden;
}

nav li {
    display: inline-block;
}
nav a {
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    padding:5px;
}

a:hover {
  background-color: #007d7b;
  color: white;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-style:solid;
    border-width: medium;
    border-color: white;
    background-color: black;
    padding:5px;
  }

  [href="#top"]:hover {
    position:fixed;
    bottom:0px;
    right:0px;
    border-style:solid;
    border-width: thick;
    border-color: black;
  }

p{
    font-size: 1.25em;
}

#gallery,#about{
    background-color: white;
    color:black;
}

#images {
  display: grid;
}

#gallery > p{
  margin-bottom: 10px;
}
.responsive {
  max-width: 100%;
  height: auto;
}

#chile {
    grid-area:chile;
  }
#guatemala {
    grid-area:guatemala;
  }
#hawaii {
    grid-area:hawaii;
  }
#iran {
    grid-area:iran;
  }
#ireland {
    grid-area:ireland;
  }
#italy {
    grid-area:italy;
  }
#moabDesert {
    grid-area:moabDesert;
  }
#rockyMountains {
    grid-area:rockyMountains ;
  }
#switzerland {
    grid-area:switzerland;
  }
#uk {
    grid-area:uk;
  }
#usa {
    grid-area:usa;
  }
#wyoming {
    grid-area:wyoming;
  }


img {
    position:relative;
    float:none;
  }

figure {
  margin:0 auto;
  width:auto;
  height: auto;
  position:relative;
  top:10px;
  padding:5px;
  }

figcaption, label, placeholder, input, small {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

label {
  display: block;
  float:left;  
  width:10em;
  margin-right: 1em;
}

input[type=text]{
  height:30px;
  width:50%;
  font-size: 14pt;
  margin-bottom: 20px;
}
::placeholder {
  color:#007d7b;
}

#contact {
  text-align: center;
}

input[type=submit]{
  color:white;
  background-color:#007d7b;
  padding:10px;
  width:25%;
  border:none;
  border-radius:15px;
  margin-bottom: 50px;;
}

input[type=submit]:hover{
  color:#007d7b;
  background-color:white;
  padding:10px;
  width:25%;
  border:none;
  border-radius:15px;
  margin-bottom: 50px;;
}

footer {
  text-align: center;
  font-weight: normal;
}

@media screen and (min-width:485px){
    h1 {
        text-align: center;
    }
    
  #images {
    grid-template-areas:
      "chile"
      "guatemala"
      "hawaii"
      "iran"
      "ireland"
      "italy"
      "moabDesert"
      "rockyMountains"
      "switzerland"
      "uk"
      "us"
      "wyoming"
  }

}

@media screen and (min-width:880px){
  h1 {
    text-align: left;
    padding-left: 10px;
  }

  #images {
    grid-template-areas:
      "chile guatemala"
      "hawaii iran"
      "ireland italy"
      "moabDesert rockyMountains"
      "switzerland uk"
      "us wyoming"
  }
}

@media screen and (min-width:1300px){

  #images {
    grid-template-areas:
      "chile guatemala hawaii"
      "iran ireland italy"
      "moabDesert rockyMountains switzerland"
      "uk us wyoming"
  }
}